* {
  box-sizing: border-box;
}

body {
  margin: 24px 156px;
  background-color: #fff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: calc((100% - 24 * 2) / 3);
  list-style-type: none;
}
.gallery-link {
}
.gallery-image {
  display: block;
  max-width: 360px;
}
